<!-- --------------------------- Footer ---------------------------------------- -->

<footer class="footer">
    <div class="container">
        <div class="about-us" data-aos="fade-right" data-aos-delay="200">
            <h2>Sobre - nós</h2>
            <p>UCAN - Comercio Electrónico</p>
        </div>
        <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
            <h2>Novas noticias</h2>
            <p>Esteja sempre actualizado</p>
            <div class="form-element">
                <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="instagram" data-aos="fade-left" data-aos-delay="200">
            <h2>Instagram</h2>
            <div class="flex-row">
                <img src="/uploads/instagram/thumb-card3.png" alt="insta1">
                <img src="/uploads/instagram/thumb-card4.png" alt="insta2">
                <img src="/uploads/instagram/thumb-card5.png" alt="insta3">
            </div>
            <div class="flex-row">
                <img src="/uploads/instagram/thumb-card6.png" alt="insta4">
                <img src="/uploads/instagram/thumb-card7.png" alt="insta5">
                <img src="/uploads/instagram/thumb-card8.png" alt="insta6">
            </div>
        </div>
        <div class="follow" data-aos="fade-left" data-aos-delay="200">
            <h2>Seguir-nos</h2>
            <p>Redes Sociais</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h4 class="text-gray">
            Copyright ©2019 All rights reserved | made by
            <a href="www.youtube.com/c/dailytuition" target="_black">Zé <i class="fab fa-youtube"></i>
                Briguento</a>
        </h4>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
</footer>
