<div class="conteudo">
  <div class="conteudo-form">
        <form action="/contacto/new" method="post">
          <h2>Contacto: </h2>
          <div class="form-group">
            <label for="email" style="color: #3f4954">Email: </label>
            <input type="text" name="email" class="form-control" placeholder="Digite o seu email" required>
          </div>
          <div class="form-group">
            <label for="descricao" style="color: #3f4954">Deixe - nos a sua opinião: </label>
            <textarea name="descricao" class="form-control"></textarea><br>
          </div>
          <button type="submit" name="button" class="button-input">Enviar</button>
        </form>

    </div>
</div>
